
body {
  font-family: Verdana;
  background-image: url('faded_school_bg.png'); 
  background-repeat: no-repeat;
  background-size: 70% 60%; 
} 
header {
	font-family: cambria;
}

.navbar {
  background-color: white;
  padding: 10px;
/* make navbar items align horizontally */
	display:flex;
    align-items:center;
}

/* remove inline-block so flexbox controls layout */
.dropdown{
    position: relative;
}

/* push menu items slightly away from logo */
.dropdown{
    margin-right:5px;
}

/* ensure logo stays at the far left */
.logo{
    height:50px;
    margin-right:25px;
}

/*the dropbtn class can be used by all navbar buttons, and div class="dropdown" is needed to make a new button. 
change background colors and font colors as necessary.*/
.dropbtn {
  background-color: #222222;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn-1 {
  background-color: #EEC312;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000000;}

.dropdown:hover .dropbtn {color: #EEC312;}

.dropdown:hover .dropbtn-1 {background-color: #b89609;}

#Home {
  text-align: right;
}

#Home div {
  text-align: right;
}
#News {
 text-align: right;
} 

#News div {
  text-align: right;
}

#Programs {
  text-align: right;
}

#Events {
  text-align: right;
} 

.dropdown:hover .dropbtn-1 {color: #000000;}

Use Control + Shift + m to toggle the tab key moving focus. Alternatively, use esc then tab to move to the next interactive element on the page.
